.sessions{
    position: relative;
    margin-top: 35%;
}

@media only screen and (max-width : 768px) {
    .sessions{
        margin-top: 140%; /* i hate myself */
    }
}
.session-table{
    margin-left: 25%;
}

@media only screen and (max-width: 768px){
    .session-table{
        text-align: center;
        align-content: center;
    }
}

.session-cell{
    height: 50px;
    line-height: 50px;
    background-color: #f4f4f4;
    color: black;
    padding-left: 27px;
    display: table;
}